.modal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 80vw;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 2rem;
  border-radius: 15px;
}

.modal-images {
  display: flex;
  flex-direction: column;
}

.modal-image {
  margin: 1rem;
  border-radius: 15px;
}

@media screen and (max-width: 1100px) {
  .modal-image {
    width: 800px;
  }
}

@media screen and (max-width: 900px) {
  .modal-image {
    width: 700px;
  }
}

@media screen and (max-width: 750px) {
  .modal-image {
    width: 550px;
  }
}

@media screen and (max-width: 600px) {
  .modal-image {
    width: 450px;
  }
}
